<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head :: head(title='Employees')"></th:block>
<body>
<!--  insert navbar  -->
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Employees</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default mb-3 mt-3 shadow-sm p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <form th:action="@{/enterprise/{id}/employees/create(id=${id})}" th:object="${employee}" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" name="email" class="form-control" id="email" th:field="*{email}">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>