<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head :: head(title='Employee')"></th:block>
<body>
<!--  insert navbar  -->
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Employees</h3>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" th:href="@{/enterprise/{id}/employees(id=${id})   }">
        Employees
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/enterprise/{id}/movements(id=${id})}">
        Movements
      </a>
    </li>
  </ul>
  <div class="row mt-4">
    <div class="col-12">
      <a th:href="@{/enterprise/{id}/employees/new(id=${id})}" class="btn btn-primary">Create</a>
    </div>
  </div>


  <div class="row mt-2">
    <div class="col-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">email</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
          <th scope="row" th:text="${employee.idEmployee}"></th>
          <td th:text="${employee.email}"></td>
          <td>
            <a th:href="@{employees/{id}/edit(id=${employee.idEmployee})}" class="btn btn-primary">Edit</a>
            <form th:action="@{employees/{id}/delete(id=${employee.idEmployee})}" th:method="post">
              <button type="submit" id="delete-button" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<th:block th:replace="fragments/scripts :: scripts"></th:block>

</body>
</html>